body{
    position: relative;
    width:100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.966),rgba(0, 0, 0, 0.955))
}

.welcome{
    display: block;
    position: absolute;
    top: 200px;
    left: 150px;
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.welcome:hover{
    color: lightblue;
}

#Wongwong{
    display: block;
    position: absolute;
    top: 294px;
    left: 155px;
    color: white;
    font-size: 45px;
    font-weight: 500;
}

#brief{
    display: block;
    position: absolute;
    top: 368px;
    left: 155px;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.potato img{
    position:absolute;
    display:block;
    top:200px;
    right:100px;
    border-radius: 12px;
    box-shadow:0 10px 100px 25px grey;
}










